openapi: 3.1.0
info:
  title: Skippy API Documentation
  version: 1.0.0
security:
  - bearerAuth: []
servers:
  - url: https://api.skippy.id
    description: Production
  - url: https://testapi.skippy.id
    description: Test
components:
  schemas:
    User:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                _id:
                  type: string
                email:
                  type: string
                profile:
                  type: object
                  properties:
                    name:
                      type: string
                    location:
                      type: string
                    website:
                      type: string
                    picture:
                      type: string
                projectIds:
                  type: array
                  items:
                    type: string
                organisationId:
                  type: string
                inviteState:
                  type: string
                  enum:
                    - invited
                    - declined
                    - accepted
                permissions:
                  type: array
                  items:
                    type: string
                    enum:
                      - CAN_EDIT_ORGANISATION
                      - CAN_CREATE_PROJECT
                      - CAN_EDIT_PROJECT
                      - CAN_CREATE_TEMPLATE
                      - CAN_EDIT_TEMPLATE
                      - CAN_ISSUE_CREDENTIAL
                      - CAN_VERIFY_CREDENTIAL
                      - CAN_VIEW_ORGANISATION
                      - CAN_VIEW_PROJECTS
                      - CAN_VIEW_TEMPLATES
                      - CAN_CREATE_APIKEY
                      - CAN_EDIT_APIKEY
                      - CAN_VIEW_APIKEYS
                      - CAN_DELETE_API_KEY
                      - CAN_UPDATE_PROJECT
                      - CAN_INVITE_USERS
                      - CAN_DELETE_USERS
                      - CAN_VIEW_CREDENTIALS
                isAdmin:
                  type: boolean
            - type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  email:
                    type: string
                  profile:
                    type: object
                    properties:
                      name:
                        type: string
                      location:
                        type: string
                      website:
                        type: string
                      picture:
                        type: string
                  projectIds:
                    type: array
                    items:
                      type: string
                  organisationId:
                    type: string
                  inviteState:
                    type: string
                    enum:
                      - invited
                      - declined
                      - accepted
                  permissions:
                    type: array
                    items:
                      type: string
                      enum:
                        - CAN_EDIT_ORGANISATION
                        - CAN_CREATE_PROJECT
                        - CAN_EDIT_PROJECT
                        - CAN_CREATE_TEMPLATE
                        - CAN_EDIT_TEMPLATE
                        - CAN_ISSUE_CREDENTIAL
                        - CAN_VERIFY_CREDENTIAL
                        - CAN_VIEW_ORGANISATION
                        - CAN_VIEW_PROJECTS
                        - CAN_VIEW_TEMPLATES
                        - CAN_CREATE_APIKEY
                        - CAN_EDIT_APIKEY
                        - CAN_VIEW_APIKEYS
                        - CAN_DELETE_API_KEY
                        - CAN_UPDATE_PROJECT
                        - CAN_INVITE_USERS
                        - CAN_DELETE_USERS
                        - CAN_VIEW_CREDENTIALS
                  isAdmin:
                    type: boolean
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    Organisation:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                _id:
                  type: string
                name:
                  type: string
                about:
                  type: string
                profile:
                  type: object
                  properties:
                    location:
                      type: string
                    website:
                      type: string
                    icon:
                      type: string
                address:
                  type: object
                  properties:
                    street:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
                    country:
                      type: string
                organisationDid:
                  type: string
                projectIds:
                  type: array
                  items:
                    type: string
                roles:
                  type: array
                  items:
                    type: string
                admins:
                  type: array
                  items:
                    type: string
                createdBy:
                  type: string
                updatedBy:
                  type: string
                subscription:
                  type: object
                  properties:
                    status:
                      type: string
                    plan:
                      type: object
                      properties:
                        name:
                          type: string
                        productId:
                          type: string
                        id:
                          type: string
                      required:
                        - productId
                        - id
                  required:
                    - status
                    - plan
                emailSettings:
                  type: object
                  properties:
                    institutionDisplayName:
                      type: string
                    institutionLogo:
                      type: string
                      format: uri
                    brandColors:
                      type: object
                      properties:
                        primary:
                          type: string
                        secondary:
                          type: string
                    senderName:
                      type: string
                    supportEmail:
                      type: string
                      format: email
                    welcomeMessageTemplate:
                      type: string
                    footerText:
                      type: string
                    senderEmail:
                      type: string
                      format: email
                    emailSubjectTemplate:
                      type: string
                    additionalInstructions:
                      type: string
            - type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  about:
                    type: string
                  profile:
                    type: object
                    properties:
                      location:
                        type: string
                      website:
                        type: string
                      icon:
                        type: string
                  address:
                    type: object
                    properties:
                      street:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zipcode:
                        type: string
                      country:
                        type: string
                  organisationDid:
                    type: string
                  projectIds:
                    type: array
                    items:
                      type: string
                  roles:
                    type: array
                    items:
                      type: string
                  admins:
                    type: array
                    items:
                      type: string
                  createdBy:
                    type: string
                  updatedBy:
                    type: string
                  subscription:
                    type: object
                    properties:
                      status:
                        type: string
                      plan:
                        type: object
                        properties:
                          name:
                            type: string
                          productId:
                            type: string
                          id:
                            type: string
                        required:
                          - productId
                          - id
                    required:
                      - status
                      - plan
                  emailSettings:
                    type: object
                    properties:
                      institutionDisplayName:
                        type: string
                      institutionLogo:
                        type: string
                        format: uri
                      brandColors:
                        type: object
                        properties:
                          primary:
                            type: string
                          secondary:
                            type: string
                      senderName:
                        type: string
                      supportEmail:
                        type: string
                        format: email
                      welcomeMessageTemplate:
                        type: string
                      footerText:
                        type: string
                      senderEmail:
                        type: string
                        format: email
                      emailSubjectTemplate:
                        type: string
                      additionalInstructions:
                        type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    Project:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                _id:
                  type: string
                projectName:
                  type: string
                description:
                  type: string
                organisationId:
                  type: string
                users:
                  type: array
                  items:
                    type: string
                projectKeyDid:
                  type: string
            - type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  projectName:
                    type: string
                  description:
                    type: string
                  organisationId:
                    type: string
                  users:
                    type: array
                    items:
                      type: string
                  projectKeyDid:
                    type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    Sd-Jwt Credential Template:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                _id:
                  type: string
                name:
                  type: string
                description:
                  type: string
                templateType:
                  type: string
                  enum:
                    - credential
                    - presentation
                organisationId:
                  type: string
                projectId:
                  type: string
                createdBy:
                  type: string
                active:
                  type: boolean
                cryptographicBindingMethodsSupported:
                  type: array
                  items:
                    type: string
                cryptographicSuiteSupported:
                  type: array
                  items:
                    type: string
                attributes:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      name:
                        type: string
                      type:
                        type: string
                      description:
                        type: string
                      alwaysDisclosed:
                        type: boolean
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                      minimum:
                        type: number
                      maximum:
                        type: number
                      purpose:
                        type: string
                      path:
                        type: string
                      properties:
                        type: object
                        additionalProperties:
                          type: object
                    required:
                      - name
                      - type
                      - description
                type:
                  type: string
                format:
                  type: string
                  enum:
                    - jwt
                    - jwt_vc
                    - jwt_vp
                    - ldp
                    - ldp_vc
                    - ldp_vp
                    - di
                    - di_vc
                    - di_vp
                    - vc+sd-jwt
                    - mso_mdoc
                display:
                  type: object
                exp:
                  type: number
                nbf:
                  type: number
                canBeRevoked:
                  type: boolean
                issuerId:
                  type: string
            - type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  templateType:
                    type: string
                    enum:
                      - credential
                      - presentation
                  organisationId:
                    type: string
                  projectId:
                    type: string
                  createdBy:
                    type: string
                  active:
                    type: boolean
                  cryptographicBindingMethodsSupported:
                    type: array
                    items:
                      type: string
                  cryptographicSuiteSupported:
                    type: array
                    items:
                      type: string
                  attributes:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
                        description:
                          type: string
                        alwaysDisclosed:
                          type: boolean
                        value:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                        minimum:
                          type: number
                        maximum:
                          type: number
                        purpose:
                          type: string
                        path:
                          type: string
                        properties:
                          type: object
                          additionalProperties:
                            type: object
                      required:
                        - name
                        - type
                        - description
                  type:
                    type: string
                  format:
                    type: string
                    enum:
                      - jwt
                      - jwt_vc
                      - jwt_vp
                      - ldp
                      - ldp_vc
                      - ldp_vp
                      - di
                      - di_vc
                      - di_vp
                      - vc+sd-jwt
                      - mso_mdoc
                  display:
                    type: object
                  exp:
                    type: number
                  nbf:
                    type: number
                  canBeRevoked:
                    type: boolean
                  issuerId:
                    type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    Sd-Jwt Presentation Template:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                _id:
                  type: string
                name:
                  type: string
                description:
                  type: string
                templateType:
                  type: string
                  enum:
                    - credential
                    - presentation
                template:
                  type: object
                  additionalProperties:
                    nullable: true
                organisationId:
                  type: string
                projectId:
                  type: string
                createdBy:
                  type: string
                active:
                  type: boolean
                format:
                  type: string
                  enum:
                    - jwt
                    - jwt_vc
                    - jwt_vp
                    - ldp
                    - ldp_vc
                    - ldp_vp
                    - di
                    - di_vc
                    - di_vp
                    - vc+sd-jwt
                    - mso_mdoc
                presentationCredentials:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                      name:
                        type: string
                      purpose:
                        type: string
                      type:
                        type: string
                      attributes:
                        type: object
                        additionalProperties:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            description:
                              type: string
                            alwaysDisclosed:
                              type: boolean
                            value:
                              anyOf:
                                - type: string
                                - type: number
                                - type: boolean
                            minimum:
                              type: number
                            maximum:
                              type: number
                            purpose:
                              type: string
                            path:
                              type: string
                            properties:
                              type: object
                              additionalProperties:
                                type: object
                          required:
                            - name
                            - type
                            - description
                    required:
                      - _id
                      - name
                      - purpose
                      - type
                      - attributes
            - type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  templateType:
                    type: string
                    enum:
                      - credential
                      - presentation
                  template:
                    type: object
                    additionalProperties:
                      nullable: true
                  organisationId:
                    type: string
                  projectId:
                    type: string
                  createdBy:
                    type: string
                  active:
                    type: boolean
                  format:
                    type: string
                    enum:
                      - jwt
                      - jwt_vc
                      - jwt_vp
                      - ldp
                      - ldp_vc
                      - ldp_vp
                      - di
                      - di_vc
                      - di_vp
                      - vc+sd-jwt
                      - mso_mdoc
                  presentationCredentials:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        name:
                          type: string
                        purpose:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
                              description:
                                type: string
                              alwaysDisclosed:
                                type: boolean
                              value:
                                anyOf:
                                  - type: string
                                  - type: number
                                  - type: boolean
                              minimum:
                                type: number
                              maximum:
                                type: number
                              purpose:
                                type: string
                              path:
                                type: string
                              properties:
                                type: object
                                additionalProperties:
                                  type: object
                            required:
                              - name
                              - type
                              - description
                      required:
                        - _id
                        - name
                        - purpose
                        - type
                        - attributes
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    Credential:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                credentialTemplateId:
                  type: string
                credentialOfferUri:
                  type: string
                issuanceSessionId:
                  type: string
                templateType:
                  type: string
                attributes:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      name:
                        type: string
                      type:
                        type: string
                      description:
                        type: string
                      alwaysDisclosed:
                        type: boolean
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                      minimum:
                        type: number
                      maximum:
                        type: number
                      purpose:
                        type: string
                      path:
                        type: string
                      properties:
                        type: object
                        additionalProperties:
                          type: object
                    required:
                      - name
                      - type
                      - description
                platform:
                  type: string
                preAuthorizedCode:
                  type: string
                txCode:
                  type: string
                state:
                  type: string
                updatedAt:
                  type: string
                description:
                  type: string
                issuerId:
                  type: string
                issuerDid:
                  type: string
                metadata:
                  type: object
                  additionalProperties:
                    nullable: true
                credentialOfferPayload:
                  type: object
                  additionalProperties:
                    nullable: true
                recipientEmail:
                  type: string
                projectId:
                  type: string
                validFrom:
                  type: number
                expiryDate:
                  type: number
                createdAt:
                  type: string
                createdBy:
                  type: string
            - type: array
              items:
                type: object
                properties:
                  credentialTemplateId:
                    type: string
                  credentialOfferUri:
                    type: string
                  issuanceSessionId:
                    type: string
                  templateType:
                    type: string
                  attributes:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
                        description:
                          type: string
                        alwaysDisclosed:
                          type: boolean
                        value:
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                        minimum:
                          type: number
                        maximum:
                          type: number
                        purpose:
                          type: string
                        path:
                          type: string
                        properties:
                          type: object
                          additionalProperties:
                            type: object
                      required:
                        - name
                        - type
                        - description
                  platform:
                    type: string
                  preAuthorizedCode:
                    type: string
                  txCode:
                    type: string
                  state:
                    type: string
                  updatedAt:
                    type: string
                  description:
                    type: string
                  issuerId:
                    type: string
                  issuerDid:
                    type: string
                  metadata:
                    type: object
                    additionalProperties:
                      nullable: true
                  credentialOfferPayload:
                    type: object
                    additionalProperties:
                      nullable: true
                  recipientEmail:
                    type: string
                  projectId:
                    type: string
                  validFrom:
                    type: number
                  expiryDate:
                    type: number
                  createdAt:
                    type: string
                  createdBy:
                    type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    Verification:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        description:
          type: string
        templateId:
          type: array
          items:
            type: string
        verifierId:
          type: string
        verificationSessionId:
          type: string
        metadata:
          type: object
          properties: {}
        type:
          type: string
          enum:
            - OpenId4VcVerificationSessionRecord
        state:
          nullable: true
        authorizationRequestUri:
          type: string
        presentationExchange:
          type: object
          properties:
            definition:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                purpose:
                  type: string
                input_descriptors:
                  type: array
                  items:
                    nullable: true
                format:
                  type: object
                  additionalProperties:
                    nullable: true
              required:
                - id
                - name
                - purpose
                - input_descriptors
            presentations:
              type: array
              items:
                type: object
                properties:
                  compact:
                    type: string
                  header:
                    type: object
                    additionalProperties:
                      nullable: true
                  payload:
                    type: object
                    additionalProperties:
                      nullable: true
                  prettyClaims:
                    type: object
                    additionalProperties:
                      nullable: true
                required:
                  - compact
                  - header
                  - payload
                  - prettyClaims
            submission:
              type: object
              properties:
                id:
                  type: string
                definition_id:
                  type: string
                descriptor_map:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      format:
                        type: string
                      path:
                        type: string
                    required:
                      - id
                      - format
                      - path
              required:
                - id
                - definition_id
                - descriptor_map
          required:
            - definition
            - presentations
            - submission
        verifiedClaims:
          type: array
          items:
            type: object
            properties:
              issuer:
                type: string
              subject:
                type: string
              claims:
                type: object
                additionalProperties:
                  nullable: true
              credentialType:
                type: string
              issuedAt:
                type: number
              format:
                type: string
            required:
              - claims
        verifiedAt:
          type: string
        projectId:
          type: string
        updatedAt:
          type: string
        createdAt:
          type: string
        createdBy:
          type: string
      required:
        - name
        - description
        - templateId
        - verifierId
        - verificationSessionId
        - projectId
        - updatedAt
        - createdAt
        - createdBy
    Verifier:
      type: object
      properties:
        _id:
          type: string
        verifierId:
          type: string
        templateId:
          type: string
        projectId:
          type: string
        createdBy:
          type: string
        createdAt:
          type: string
        active:
          type: boolean
      required:
        - verifierId
        - templateId
        - projectId
        - createdBy
    Did:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                _id:
                  type: string
                did:
                  type: string
                didState:
                  type: string
                didDocument:
                  type: object
                  properties: {}
                didDocumentMetadata:
                  type: object
                  properties: {}
                didRegistrationMetadata:
                  type: object
                  properties: {}
                didType:
                  type: string
                  enum: &a1
                    - key
                    - jwk
                    - cheqd
                    - web
                orgId:
                  type: string
                metadata:
                  type: object
                  properties:
                    domain:
                      type: string
                    project:
                      type: string
                    publicKeyBase58:
                      type: string
                    publicKeyMultibase:
                      type: string
                    privateKeyBase58:
                      type: string
                    verificationMethod:
                      type: array
                      items:
                        nullable: true
                    created:
                      type: string
                    updated:
                      type: string
                isActive:
                  type: boolean
                  default: true
                createdBy:
                  type: string
            - type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  did:
                    type: string
                  didState:
                    type: string
                  didDocument:
                    type: object
                    properties: {}
                  didDocumentMetadata:
                    type: object
                    properties: {}
                  didRegistrationMetadata:
                    type: object
                    properties: {}
                  didType:
                    type: string
                    enum: *a1
                  orgId:
                    type: string
                  metadata:
                    type: object
                    properties:
                      domain:
                        type: string
                      project:
                        type: string
                      publicKeyBase58:
                        type: string
                      publicKeyMultibase:
                        type: string
                      privateKeyBase58:
                        type: string
                      verificationMethod:
                        type: array
                        items:
                          nullable: true
                      created:
                        type: string
                      updated:
                        type: string
                  isActive:
                    type: boolean
                    default: true
                  createdBy:
                    type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    WebhookSubscription:
      type: object
      properties:
        data:
          anyOf:
            - type: object
              properties:
                _id:
                  type: string
                endpoint:
                  type: string
                events:
                  type: array
                  items:
                    type: string
                projectId:
                  type: string
                organisationId:
                  type: string
                description:
                  type: string
                isActive:
                  type: boolean
                createdBy:
                  type: string
                updatedBy:
                  type: string
                createdAt:
                  type: string
                updatedAt:
                  type: string
            - type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                  endpoint:
                    type: string
                  events:
                    type: array
                    items:
                      type: string
                  projectId:
                    type: string
                  organisationId:
                    type: string
                  description:
                    type: string
                  isActive:
                    type: boolean
                  createdBy:
                    type: string
                  updatedBy:
                    type: string
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    EmailCredentialOffer:
      type: object
      properties:
        data:
          type: object
          properties:
            to:
              type: string
              format: email
            issuanceSessionId:
              type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    Certificate:
      type: object
      properties:
        data:
          type: object
          properties:
            _id:
              type: string
            certificateType:
              type: string
              enum: &a2
                - x509
                - pgp
                - ssh
                - other
            name:
              type: string
            description:
              type: string
            certificateData:
              type: string
            certificateFormat:
              type: string
              enum: &a3
                - pem
                - der
                - base64
            subject:
              type: object
              properties:
                commonName:
                  type: string
                country:
                  type: string
                state:
                  type: string
                locality:
                  type: string
                organization:
                  type: string
                organizationalUnit:
                  type: string
                emailAddress:
                  type: string
            issuer:
              type: object
              properties:
                commonName:
                  type: string
                country:
                  type: string
                state:
                  type: string
                locality:
                  type: string
                organization:
                  type: string
                organizationalUnit:
                  type: string
                emailAddress:
                  type: string
            validFrom:
              type: string
            validTo:
              type: string
            isValid:
              type: boolean
            isActive:
              type: boolean
            status:
              type: string
              enum: &a4
                - active
                - expired
                - revoked
                - suspended
            fingerprints:
              type: object
              properties:
                sha1:
                  type: string
                sha256:
                  type: string
                md5:
                  type: string
            projectId:
              type: string
            organisationId:
              type: string
            createdBy:
              type: string
            metadata:
              type: object
              additionalProperties:
                nullable: true
            createdAt:
              type: string
            updatedAt:
              type: string
            lastValidatedAt:
              type: string
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    CertificateInfo:
      type: object
      properties:
        data:
          type: object
          properties:
            detailedInfo:
              type: object
              properties: {}
            validationResult:
              type: object
              properties:
                isValid:
                  type: boolean
                errors:
                  type: array
                  items:
                    type: string
                warnings:
                  type: array
                  items:
                    type: string
                basicValidation:
                  type: object
                  properties:
                    isValid:
                      type: boolean
                    errors:
                      type: array
                      items:
                        type: string
                  required:
                    - isValid
                    - errors
                validationResult:
                  type: object
                  properties:
                    isValid:
                      type: boolean
                    error:
                      type: string
                  required:
                    - isValid
            basicValidation:
              type: object
              properties:
                isValid:
                  type: boolean
                errors:
                  type: array
                  items:
                    type: string
              required:
                - isValid
                - errors
            format:
              type: string
            retrievedAt:
              type: string
          required:
            - detailedInfo
            - validationResult
            - format
            - retrievedAt
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    X509CertificateCreate:
      type: object
      properties:
        data:
          type: object
          properties:
            certificateId:
              type: string
            certificate:
              type: object
              properties: {}
            certificateBase64:
              type: string
            pemCertificate:
              type: string
            detailedInfo:
              type: object
              properties: {}
            publicKey:
              type: string
            keyType:
              type: string
            subject:
              type: object
              properties: {}
            validity:
              type: object
              properties:
                notBefore:
                  type: string
                notAfter:
                  type: string
            createdAt:
              type: string
          required:
            - certificateId
            - certificate
            - certificateBase64
            - pemCertificate
            - detailedInfo
            - publicKey
            - keyType
            - subject
            - validity
            - createdAt
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
    CertificateDelete:
      type: object
      properties:
        data:
          type: object
          properties:
            deleted:
              type: boolean
          required:
            - deleted
        included:
          type: array
          items:
            nullable: true
        meta:
          type: object
          properties:
            total:
              type: number
            page:
              type: number
            limit:
              type: number
            pages:
              type: number
        links:
          type: object
          properties:
            self:
              type: string
            first:
              type: string
            last:
              type: string
            next:
              type: string
            prev:
              type: string
          required:
            - self
            - first
            - last
      required:
        - data
  parameters: {}
paths:
  /v1/org/{orgId}:
    get:
      summary: Get organisation details
      description: Retrieves comprehensive information about an organisation based on
        the provided organisation ID, including name, settings, and associated
        metadata.
      tags:
        - Organisation
      parameters:
        - schema:
            type: string
          required: true
          name: orgId
          in: path
      responses:
        "200":
          description: Organisation details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    anyOf:
                      - type: object
                        properties:
                          _id:
                            type: string
                          name:
                            type: string
                          about:
                            type: string
                          profile:
                            type: object
                            properties:
                              location:
                                type: string
                              website:
                                type: string
                              icon:
                                type: string
                          address:
                            type: object
                            properties:
                              street:
                                type: string
                              city:
                                type: string
                              state:
                                type: string
                              zipcode:
                                type: string
                              country:
                                type: string
                          organisationDid:
                            type: string
                          projectIds:
                            type: array
                            items:
                              type: string
                          roles:
                            type: array
                            items:
                              type: string
                          admins:
                            type: array
                            items:
                              type: string
                          createdBy:
                            type: string
                          updatedBy:
                            type: string
                          subscription:
                            type: object
                            properties:
                              status:
                                type: string
                              plan:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  productId:
                                    type: string
                                  id:
                                    type: string
                                required:
                                  - productId
                                  - id
                            required:
                              - status
                              - plan
                          emailSettings:
                            type: object
                            properties:
                              institutionDisplayName:
                                type: string
                              institutionLogo:
                                type: string
                                format: uri
                              brandColors:
                                type: object
                                properties:
                                  primary:
                                    type: string
                                  secondary:
                                    type: string
                              senderName:
                                type: string
                              supportEmail:
                                type: string
                                format: email
                              welcomeMessageTemplate:
                                type: string
                              footerText:
                                type: string
                              senderEmail:
                                type: string
                                format: email
                              emailSubjectTemplate:
                                type: string
                              additionalInstructions:
                                type: string
                      - type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            name:
                              type: string
                            about:
                              type: string
                            profile:
                              type: object
                              properties:
                                location:
                                  type: string
                                website:
                                  type: string
                                icon:
                                  type: string
                            address:
                              type: object
                              properties:
                                street:
                                  type: string
                                city:
                                  type: string
                                state:
                                  type: string
                                zipcode:
                                  type: string
                                country:
                                  type: string
                            organisationDid:
                              type: string
                            projectIds:
                              type: array
                              items:
                                type: string
                            roles:
                              type: array
                              items:
                                type: string
                            admins:
                              type: array
                              items:
                                type: string
                            createdBy:
                              type: string
                            updatedBy:
                              type: string
                            subscription:
                              type: object
                              properties:
                                status:
                                  type: string
                                plan:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    productId:
                                      type: string
                                    id:
                                      type: string
                                  required:
                                    - productId
                                    - id
                              required:
                                - status
                                - plan
                            emailSettings:
                              type: object
                              properties:
                                institutionDisplayName:
                                  type: string
                                institutionLogo:
                                  type: string
                                  format: uri
                                brandColors:
                                  type: object
                                  properties:
                                    primary:
                                      type: string
                                    secondary:
                                      type: string
                                senderName:
                                  type: string
                                supportEmail:
                                  type: string
                                  format: email
                                welcomeMessageTemplate:
                                  type: string
                                footerText:
                                  type: string
                                senderEmail:
                                  type: string
                                  format: email
                                emailSubjectTemplate:
                                  type: string
                                additionalInstructions:
                                  type: string
                  included:
                    type: array
                    items:
                      nullable: true
                  meta:
                    type: object
                    properties:
                      total:
                        type: number
                      page:
                        type: number
                      limit:
                        type: number
                      pages:
                        type: number
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      first:
                        type: string
                      last:
                        type: string
                      next:
                        type: string
                      prev:
                        type: string
                    required:
                      - self
                      - first
                      - last
                required:
                  - data
        "404":
          description: Organisation not found with the specified ID
    put:
      summary: Update organisation details
      description: Updates an organisation's information such as name, logo, and
        settings. Returns the updated organisation object upon success.
      tags:
        - Organisation
      parameters:
        - schema:
            type: string
          required: true
          name: orgId
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  maxLength: 50
                about:
                  type: string
                profile:
                  type: object
                  properties:
                    location:
                      type: string
                    website:
                      type: string
                    icon:
                      type: string
                address:
                  type: object
                  properties:
                    street:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipcode:
                      type: string
                    country:
                      type: string
                emailSettings:
                  type: object
                  properties:
                    institutionDisplayName:
                      type: string
                      minLength: 1
                      maxLength: 100
                    institutionLogo:
                      type: string
                      format: uri
                    brandColors:
                      type: object
                      properties:
                        primary:
                          type: string
                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                        secondary:
                          type: string
                          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
                    senderName:
                      type: string
                      minLength: 1
                      maxLength: 100
                    supportEmail:
                      type: string
                      format: email
                    welcomeMessageTemplate:
                      type: string
                      maxLength: 500
                    footerText:
                      type: string
                      maxLength: 200
                    senderEmail:
                      type: string
                    emailSubjectTemplate:
                      type: string
                      maxLength: 100
                    additionalInstructions:
                      type: string
                      maxLength: 300
      responses:
        "200":
          description: Organisation updated successfully with the provided information
        "404":
          description: Organisation not found with the specified ID
  /v1/org/{orgId}/users:
    get:
      summary: Get all users for an organisation
      description: Retrieves a complete list of users associated with the specified
        organisation, including their roles and status within the organisation.
      tags:
        - Organisation
      parameters:
        - schema:
            type: object
            properties:
              orgId:
                type: string
            required:
              - orgId
          required: true
          name: params
          in: path
      responses:
        "200":
          description: List of users retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      anyOf:
                        - type: object
                          properties:
                            _id:
                              type: string
                            email:
                              type: string
                            profile:
                              type: object
                              properties:
                                name:
                                  type: string
                                location:
                                  type: string
                                website:
                                  type: string
                                picture:
                                  type: string
                            projectIds:
                              type: array
                              items:
                                type: string
                            organisationId:
                              type: string
                            inviteState:
                              type: string
                              enum:
                                - invited
                                - declined
                                - accepted
                            permissions:
                              type: array
                              items:
                                type: string
                                enum:
                                  - CAN_EDIT_ORGANISATION
                                  - CAN_CREATE_PROJECT
                                  - CAN_EDIT_PROJECT
                                  - CAN_CREATE_TEMPLATE
                                  - CAN_EDIT_TEMPLATE
                                  - CAN_ISSUE_CREDENTIAL
                                  - CAN_VERIFY_CREDENTIAL
                                  - CAN_VIEW_ORGANISATION
                                  - CAN_VIEW_PROJECTS
                                  - CAN_VIEW_TEMPLATES
                                  - CAN_CREATE_APIKEY
                                  - CAN_EDIT_APIKEY
                                  - CAN_VIEW_APIKEYS
                                  - CAN_DELETE_API_KEY
                                  - CAN_UPDATE_PROJECT
                                  - CAN_INVITE_USERS
                                  - CAN_DELETE_USERS
                                  - CAN_VIEW_CREDENTIALS
                            isAdmin:
                              type: boolean
                        - type: array
                          items:
                            type: object
                            properties:
                              _id:
                                type: string
                              email:
                                type: string
                              profile:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  location:
                                    type: string
                                  website:
                                    type: string
                                  picture:
                                    type: string
                              projectIds:
                                type: array
                                items:
                                  type: string
                              organisationId:
                                type: string
                              inviteState:
                                type: string
                                enum:
                                  - invited
                                  - declined
                                  - accepted
                              permissions:
                                type: array
                                items:
                                  type: string
                                  enum:
                                    - CAN_EDIT_ORGANISATION
                                    - CAN_CREATE_PROJECT
                                    - CAN_EDIT_PROJECT
                                    - CAN_CREATE_TEMPLATE
                                    - CAN_EDIT_TEMPLATE
                                    - CAN_ISSUE_CREDENTIAL
                                    - CAN_VERIFY_CREDENTIAL
                                    - CAN_VIEW_ORGANISATION
                                    - CAN_VIEW_PROJECTS
                                    - CAN_VIEW_TEMPLATES
                                    - CAN_CREATE_APIKEY
                                    - CAN_EDIT_APIKEY
                                    - CAN_VIEW_APIKEYS
                                    - CAN_DELETE_API_KEY
                                    - CAN_UPDATE_PROJECT
                                    - CAN_INVITE_USERS
                                    - CAN_DELETE_USERS
                                    - CAN_VIEW_CREDENTIALS
                              isAdmin:
                                type: boolean
                    included:
                      type: array
                      items:
                        nullable: true
                    meta:
                      type: object
                      properties:
                        total:
                          type: number
                        page:
                          type: number
                        limit:
                          type: number
                        pages:
                          type: number
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                        first:
                          type: string
                        last:
                          type: string
                        next:
                          type: string
                        prev:
                          type: string
                      required:
                        - self
                        - first
                        - last
                  required:
                    - data
        "404":
          description: Organisation not found with the specified ID
  /v1/org/invite-user:
    post:
      summary: Invite user to organisation
      description: Sends an invitation to a user to join the organisation. The
        invitation is sent via email and includes a link to accept or reject the
        invitation.
      tags:
        - Organisation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                orgId:
                  type: string
              required:
                - email
                - orgId
      responses:
        "200":
          description: User invitation sent successfully to the provided email address
        "404":
          description: User already associated with an organisation or already has a
            pending invitation
  /v1/org/{orgId}/projects:
    get:
      summary: Get projects for an organisation
      description: Retrieves a list of all projects associated with the specified
        organisation, including basic project details and metadata.
      tags:
        - Organisation
      parameters:
        - schema:
            type: object
            properties:
              orgId:
                type: string
            required:
              - orgId
          required: true
          name: params
          in: path
      responses:
        "200":
          description: List of projects retrieved successfully for the organisation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      anyOf:
                        - type: object
                          properties:
                            _id:
                              type: string
                            projectName:
                              type: string
                            description:
                              type: string
                            organisationId:
                              type: string
                            users:
                              type: array
                              items:
                                type: string
                            projectKeyDid:
                              type: string
                        - type: array
                          items:
                            type: object
                            properties:
                              _id:
                                type: string
                              projectName:
                                type: string
                              description:
                                type: string
                              organisationId:
                                type: string
                              users:
                                type: array
                                items:
                                  type: string
                              projectKeyDid:
                                type: string
                    included:
                      type: array
                      items:
                        nullable: true
                    meta:
                      type: object
                      properties:
                        total:
                          type: number
                        page:
                          type: number
                        limit:
                          type: number
                        pages:
                          type: number
                    links:
                      type: object
                      properties:
                        self:
                          type: string
                        first:
                          type: string
                        last:
                          type: string
                        next:
                          type: string
                        prev:
                          type: string
                      required:
                        - self
                        - first
                        - last
                  required:
                    - data
        "404":
          description: Organisation not found with the specified ID
  /v1/projects:
    post:
      summary: Create a new project
      description: Creates a new project within an organisation with the specified
        details including name, description, and initial settings. Returns the
        created project object.
      tags:
        - Projects
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: object
                  properties:
                    projectName:
                      type: string
                    organisationId:
                      type: string
                    description:
                      type: string
                  required:
                    - projectName
                    - organisationId
                    - description
              required:
                - body
      responses:
        "200":
          description: Project created successfully with the provided information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    anyOf:
                      - type: object
                        properties:
                          _id:
                            type: string
                          projectName:
                            type: string
                          description:
                            type: string
                          organisationId:
                            type: string
                          users:
                            type: array
                            items:
                              type: string
                          projectKeyDid:
                            type: string
                      - type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            projectName:
                              type: string
                            description:
                              type: string
                            organisationId:
                              type: string
                            users:
                              type: array
                              items:
                                type: string
                            projectKeyDid:
                              type: string
                  included:
                    type: array
                    items:
                      nullable: true
                  meta:
                    type: object
                    properties:
                      total:
                        type: number
                      page:
                        type: number
                      limit:
                        type: number
                      pages:
                        type: number
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      first:
                        type: string
                      last:
                        type: string
                      next:
                        type: string
                      prev:
                        type: string
                    required:
                      - self
                      - first
                      - last
                required:
                  - data
    put:
      summary: Update a project
      description: Updates an existing project's information such as name,
        description, and settings. Returns the updated project object upon
        success.
      tags:
        - Projects
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                _id:
                  type: string
                projectName:
                  type: string
                description:
                  type: string
                users:
                  type: array
                  items:
                    type: string
              required:
                - _id
      responses:
        "200":
          description: Project updated successfully with the provided information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    anyOf:
                      - type: object
                        properties:
                          _id:
                            type: string
                          projectName:
                            type: string
                          description:
                            type: string
                          organisationId:
                            type: string
                          users:
                            type: array
                            items:
                              type: string
                          projectKeyDid:
                            type: string
                      - type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            projectName:
                              type: string
                            description:
                              type: string
                            organisationId:
                              type: string
                            users:
                              type: array
                              items:
                                type: string
                            projectKeyDid:
                              type: string
                  included:
                    type: array
                    items:
                      nullable: true
                  meta:
                    type: object
                    properties:
                      total:
                        type: number
                      page:
                        type: number
                      limit:
                        type: number
                      pages:
                        type: number
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      first:
                        type: string
                      last:
                        type: string
                      next:
                        type: string
                      prev:
                        type: string
                    required:
                      - self
                      - first
                      - last
                required:
                  - data
        "404":
          description: Project not found with the specified ID
  /v1/projects/{projectId}:
    get:
      summary: Get project details
      description: Retrieves comprehensive information about a project including its
        name, description, associated users, templates, and other metadata.
      tags:
        - Projects
      parameters:
        - schema:
            type: object
            properties:
              projectId:
                type: string
            required:
              - projectId
          required: true
          name: params
          in: path
      responses:
        "200":
          description: Project details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    anyOf:
                      - type: object
                        properties:
                          _id:
                            type: string
                          projectName:
                            type: string
                          description:
                            type: string
                          organisationId:
                            type: string
                          users:
                            type: array
                            items:
                              type: string
                          projectKeyDid:
                            type: string
                      - type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            projectName:
                              type: string
                            description:
                              type: string
                            organisationId:
                              type: string
                            users:
                              type: array
                              items:
                                type: string
                            projectKeyDid:
                              type: string
                  included:
                    type: array
                    items:
                      nullable: true
                  meta:
                    type: object
                    properties:
                      total:
                        type: number
                      page:
                        type: number
                      limit:
                        type: number
                      pages:
                        type: number
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                      first:
                        type: string
                      last:
                        type: string
                      next:
                        type: string
                      prev:
                        type: string
                    required:
                      - self
                      - first
                      - last
                required:
                  - data
        "404":
          description: Project not found with the specified ID
  /v1/projects/{projectId}/users:
    delete:
      summary: Delete users from a project
      description: Removes one or more users from a project based on the provided user
        IDs. Users will lose access to the project but remain in the
        organisation.
      tags:
        - Projects
      parameters:
        - schema:
            type: string
          required: true
          name: projectId
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: string
              required:
                - userIds
      responses:
        "200":
          description: Users successfully removed from the project
        "404":
          description: Project not found with the specified ID or one or more users not
            found
  /v1/projects/{projectId}/templates/sd-jwt/credential:
    post:
      summary: Create a new SD-JWT Credential Template
      description: Creates a new SD-JWT credential template with the specified
        attributes, schema, and display properties. This template will be used
        for issuing SD-JWT credentials.
      tags:
        - Templates/Credential Templates
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                attributes:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      name:
                        type: string
                      type:
                        type: string
                      description:
                        type: string
                      alwaysDisclosed:
                        type: boolean
                      value:
                        anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                      minimum:
                        type: number
                      maximum:
                        type: number
                      purpose:
                        type: string
                      path:
                        type: string
                      properties:
                        type: object
                        additionalProperties:
                          type: object
                    required:
                      - name
                      - type
                      - description
                type:
                  type: string
                projectId:
                  type: string
                templateType:
                  type: string
                  enum:
                    - credential
                    - presentation
                display:
                  type: object
                format:
                  type: string
                exp:
                  anyOf:
                    - type: number
                    - type: string
                nbf:
                  anyOf:
                    - type: number
                    - type: string
                canBeRevoked:
                  type: boolean
                issuerId:
                  type: string
              required:
                - name
                - description
                - attributes
                - type
                - projectId
                - templateType
                - display
                - format
                - exp
                - nbf
                - canBeRevoked
      responses:
        "200":
          description: SD-JWT Credential Template created successfully with the provided
            configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    anyOf:
                      - type: object
                        properties:
                          _id:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          templateType:
                            type: string
                            enum:
                              - credential
                              - presentation
                          organisationId:
                            type: string
                          projectId:
                            type: string
                          createdBy:
                            type: string
                          active:
                            type: boolean
                          cryptographicBindingMethodsSupported:
                            type: array
                            items:
                              type: string
                          cryptographicSuiteSupported:
                            type: array
                            items:
                              type: string
                          attributes:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                name:
                                  type: string
                                type:
                                  type: string
                                description:
                                  type: string
                                alwaysDisclosed:
                                  type: boolean
                                value:
                                  anyOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                minimum:
                                  type: number
                                maximum:
                                  type: number
                                purpose:
                                  type: string
                                path:
                                  type: string
                                properties:
                                  type: object
                                  additionalProperties:
                                    type: object
                              required:
                                - name
                                - type
                                - description
                          type:
                            type: string
                          format:
                            type: string
                            enum:
                              - jwt
                              - jwt_vc
                              - jwt_vp
                              - ldp
                              - ldp_vc
                              - ldp_vp
                              - di
                              - di_vc
                              - di_vp
                              - vc+sd-jwt
                              - mso_mdoc
                          display:
                            type: object
                          exp:
                            type: number
                          nbf:
                            type: number
                          canBeRevoked:
                            type: boolean
                          issuerId:
                            type: string
                      - type: array
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                            name:
                              type: string
                            description:
                              type: string
                            templateType:
                              type: string
                              enum:
                                - credential
                                - presentation
                            organisationId:
                              type: string
                            projectId:
                              type: string
                            createdBy:
                              type: string
                            active:
                              type: boolean
                            cryptographicBindingMethodsSupported:
                              type: array
                              items:
                                type: string
                            cryptographicSuiteSupported:
                              type: array
                              items:
                                type: string
                            attributes:
                              type: object
                              additionalProperties:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  type:
                                    type: string
                                  description:
                                    type: string
                                  alwaysDisclosed:
                                    type: boolean
                                  value:
                                    anyOf:
                                      - type: string
                                      - type: number
                                      - type: boolean
                                  minimum:
                                    type: number
                                  maximum:
                                    type: number
[...]
